MEMORY {
	START:        start = $0500, size = $0B00, fill = yes, file = %O;
	LOKERNAL:     start = $9D80, size = $0280, fill = yes, file = %O;
	ICONS:        start = $3F40, size = $00C0, fill = yes, file = %O;
	KERNALHDR:    start = $C000, size = $0100, fill = yes, file = %O;
	KERNAL_LO:    start = $C100, size = $3F00, fill = yes, file = %O;
	KERNAL_HI:    start = $D000, size = $3000, fill = yes, file = %O;

	VARS:         start = $86C0, size = $0940;
}

SEGMENTS {
	vars:               load = VARS, type = bss;

	# Atari startup stub area: $0500-$0FFF
	start:              load = START, type = ro;
	ramexp1:            load = START, type = ro;
	start_atari:        load = START, type = ro;

	# lokernal: $9D80-$9FFF
	files1a2a:          load = LOKERNAL, type = ro;
	files1a2b:          load = LOKERNAL, type = ro;
	files1b:            load = LOKERNAL, type = ro;
	serial1:            load = LOKERNAL, type = ro;
	reu:                load = LOKERNAL, type = ro;
	ramexp2:            load = LOKERNAL, type = ro;
	tobasic1:           load = LOKERNAL, type = ro;

	# icons: $3F40-$3FFF
	mouseptr:           load = ICONS, type = ro;
	dlgbox2:            load = ICONS, type = ro;

	# kernal header: $C000
	header:             load = KERNALHDR, type = ro;

	# header-adjacent low code
	tobasic2:           load = KERNALHDR, type = ro;
	mainloop1:          load = KERNALHDR, type = ro;
	files2:             load = KERNALHDR, type = ro;

	# kernal jump table and early runtime code: $C100-$CFFF
	jumptab:            load = KERNAL_LO, type = ro;
	mainloop3:          load = KERNAL_LO, type = ro;
	bitmask1:           load = KERNAL_LO, type = ro;
	bitmask2:           load = KERNAL_LO, type = ro;
	bitmask3:           load = KERNAL_LO, type = ro;
	files3:             load = KERNAL_LO, type = ro;
	mainloop2:          load = KERNAL_LO, type = ro;
	load1a:             load = KERNAL_LO, type = ro;
	load1b:             load = KERNAL_LO, type = ro;
	load1c:             load = KERNAL_LO, type = ro;
	load1d:             load = KERNAL_LO, type = ro;
	init1:              load = KERNAL_LO, type = ro;
	hw1a:               load = KERNAL_LO, type = ro;
	hw1b:               load = KERNAL_LO, type = ro;
	hw_atari:           load = KERNAL_LO, type = ro;
	hw_atari_lut:       load = KERNAL_HI, type = ro;
	graph1:             load = KERNAL_LO, type = ro;
	hw2:                load = KERNAL_LO, type = ro;
	init2:              load = KERNAL_LO, type = ro;
	memory1a:           load = KERNAL_LO, type = ro;
	memory1b:           load = KERNAL_LO, type = ro;
	misc:               load = KERNAL_LO, type = ro;
	hw3:                load = KERNAL_LO, type = ro;
	load2:              load = KERNAL_LO, type = ro;
	graph2a:            load = KERNAL_LO, type = ro;
	graph2b:            load = KERNAL_LO, type = ro;
	graph2c:            load = KERNAL_LO, type = ro;
	graph2d:            load = KERNAL_LO, type = ro;
	graph2e:            load = KERNAL_LO, type = ro;
	graph2f:            load = KERNAL_LO, type = ro;
	graph2g:            load = KERNAL_LO, type = ro;
	graph2h:            load = KERNAL_LO, type = ro;
	graph2i1:           load = KERNAL_LO, type = ro;
	inline:             load = KERNAL_LO, type = ro;
	graph2j:            load = KERNAL_LO, type = ro;
	graph2k:            load = KERNAL_LO, type = ro;
	graph2l1:           load = KERNAL_LO, type = ro;
	graph2l2:           load = KERNAL_LO, type = ro;
	graph2m:            load = KERNAL_LO, type = ro;
	graph2n:            load = KERNAL_LO, type = ro;
	graph2o:            load = KERNAL_LO, type = ro;
	process1:           load = KERNAL_LO, type = ro;
	process2:           load = KERNAL_LO, type = ro;
	process3a:          load = KERNAL_LO, type = ro;
	process3aa:         load = KERNAL_LO, type = ro;
	process3b:          load = KERNAL_LO, type = ro;
	process3c:          load = KERNAL_LO, type = ro;
	sprites:            load = KERNAL_LO, type = ro;

	# remaining runtime code: $E000-$FCFF
	math1a1:            load = KERNAL_LO, type = ro;
	math1a2:            load = KERNAL_LO, type = ro;
	math1b:             load = KERNAL_LO, type = ro;
	math1c1:            load = KERNAL_LO, type = ro;
	math1c2:            load = KERNAL_LO, type = ro;
	math1d:             load = KERNAL_LO, type = ro;
	memory2:            load = KERNAL_LO, type = ro;
	mouse1:             load = KERNAL_LO, type = ro;
	panic1:             load = KERNAL_LO, type = ro;
	panic2:             load = KERNAL_LO, type = ro;
	panic3:             load = KERNAL_LO, type = ro;
	serial2:            load = KERNAL_LO, type = ro;
	patterns:           load = KERNAL_LO, type = ro;
	fonts1:             load = KERNAL_LO, type = ro;
	bswfont:            load = KERNAL_LO, type = ro;
	memory3:            load = KERNAL_LO, type = ro;
	load3:              load = KERNAL_LO, type = ro;
	files6a:            load = KERNAL_LO, type = ro;
	files6b:            load = KERNAL_LO, type = ro;
	files6c:            load = KERNAL_LO, type = ro;
	deskacc1:           load = KERNAL_LO, type = ro;
	load4b:             load = KERNAL_LO, type = ro;
	deskacc2:           load = KERNAL_LO, type = ro;
	files7:             load = KERNAL_LO, type = ro;
	deskacc3:           load = KERNAL_LO, type = ro;
	files8:             load = KERNAL_LO, type = ro;
	files9:             load = KERNAL_LO, type = ro;
	files10:            load = KERNAL_LO, type = ro;
	init4:              load = KERNAL_LO, type = ro;
	fonts2:             load = KERNAL_LO, type = ro;
	fonts3:             load = KERNAL_LO, type = ro;
	fonts4:             load = KERNAL_LO, type = ro;
	fonts4a:            load = KERNAL_LO, type = ro;
	fonts4b:            load = KERNAL_LO, type = ro;
	init3:              load = KERNAL_LO, type = ro;
	graph3a:            load = KERNAL_LO, type = ro;
	graph3b:            load = KERNAL_LO, type = ro;
	graph3c:            load = KERNAL_LO, type = ro;
	conio1:             load = KERNAL_LO, type = ro;
	conio2:             load = KERNAL_LO, type = ro;
	conio3a:            load = KERNAL_LO, type = ro;
	conio3b:            load = KERNAL_LO, type = ro;
	conio4:             load = KERNAL_LO, type = ro;
	conio5:             load = KERNAL_LO, type = ro;
	conio6:             load = KERNAL_LO, type = ro;
	math2:              load = KERNAL_LO, type = ro;
	graph4:             load = KERNAL_LO, type = ro;
	mouse2:             load = KERNAL_LO, type = ro;
	menu1:              load = KERNAL_LO, type = ro;
	menu2:              load = KERNAL_LO, type = ro;
	menu3:              load = KERNAL_LO, type = ro;
	icon1:              load = KERNAL_LO, type = ro;
	mouse3:             load = KERNAL_LO, type = ro;
	icon2:              load = KERNAL_LO, type = ro;
	dlgbox1a:           load = KERNAL_LO, type = ro;
	dlgbox1b:           load = KERNAL_LO, type = ro;
	dlgbox1c:           load = KERNAL_LO, type = ro;
	dlgbox1d:           load = KERNAL_LO, type = ro;
	dlgbox1e1:          load = KERNAL_LO, type = ro;
	dlgbox1e2:          load = KERNAL_LO, type = ro;
	dlgbox1f:           load = KERNAL_LO, type = ro;
	dlgbox1g:           load = KERNAL_LO, type = ro;
	dlgbox1h:           load = KERNAL_LO, type = ro;
	dlgbox1i:           load = KERNAL_LO, type = ro;
	dlgbox1j:           load = KERNAL_LO, type = ro;
	dlgbox1k:           load = KERNAL_LO, type = ro;
	mouse4:             load = KERNAL_LO, type = ro;
	irq_atari:          load = KERNAL_LO, type = ro;
	keyboard_atari:     load = KERNAL_LO, type = ro;
	time1:              load = KERNAL_LO, type = ro;
	time2:              load = KERNAL_LO, type = ro;
}
